@import url("https://cdn.syncfusion.com/ej2/tailwind.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-custom {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: #ffffff;
  background-color: transparent;
  border-width: 1px;
  border-color: #ffffff;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
}
.btn-custom:hover {
  color: #05c46b;
  background-color: #ffffff;
}
.btn2-custom {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: #05c46b;
  background-color: #ffffff;
  border-width: 1px;
  border-color: #ffffff;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
}
.btn2-custom:hover {
  color: #ffffff;
  background-color: #05c46b;
}
.btn3-custom {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #23dd87;

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
}
.btn3-custom:hover {
  background-color: #20c977;
}
.btn4-custom {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: #05c46b;
  background-color: transparent;
  border-width: 1px;
  border-color: #05c46b;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
}
.btn4-custom:hover {
  color: #ffffff;
  background-color: #05c46b;
}
.e-kanban .e-kanban-table .e-kanban {
  background-color: #ffffff;
  border-radius: 4;
  color: #5d5d5d;
}
/* .toggle-checkbox:checked ~ .toggle-switch-background {
  background-color: #48bb78;
}

.toggle-checkbox:checked ~ .toggle-switch-handle {
  transform: translateX(110%);
}
.toggle-switch-ring {
  height: 1.25rem;
  width: 2rem;
  bottom: 0.125rem;
  left: 0.125rem;
}

.toggle-switch-background {
  transition: transform 0.2s ease-out, background-color 0.1s ease-out;
}

.toggle-switch-handle {
  height: 0.75rem;
  width: 0.75rem;
  border: 2px solid #dee2e6;
  top: 0.125rem;
  left: 0.125rem;
  transition: transform 0.2s ease-out;
} */
